MONGO_URI="mongodb://localhost:27017/web2_gyakorlat_beadandodb?authSource=admin"
SESSION_MONGO_URI="mongodb://localhost:27017/web2_gyakorlat_beadandodb_sessions?authSource=admin"
SESSION_SECRET=abc123

SEED_RESOURCES=